body {
  margin: 0;
  background-color: #eee;
}

.cell {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.black {
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50%;
}

.white {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
}

.turn-display {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.cell.highlighted {
  background-color: #90EE90;
}

.reset-button {
  display: block;
  width: 300px;
  height: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: bold;
  background-color: #2196F3;
  color: white;
  border: none;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #64B5F6;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  height: 100%;
}

.othello-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 2px;
  width: 670px;
  height: 670px;
  background-color: #528750;
}


@media all and (width < 480px){

  .cell {
    width: 40px;
    height: 40px;
  }

  .black {
    width: 35px;
    height: 35px;
  }

  .white {
    width: 35px;
    height: 35px;
  }

  .turn-display {
    font-size: 14px;
    margin-top: 10px;
  }

  .reset-button {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    font-size: 14px;
  }

  .wrapper {
    padding: 10px;
    border-radius: 10px;
  }

  .othello-board {
    background-color: #528750;
    width: 350px;
    height: 350px;
  }
}